@import "~@/assets/front/theme/default/color.less";

@AppBg: @queen-pink;

@HeaderBg: @old-lavender;
@HeaderFontColor: @white;

@NavBarBg: fade(@old-lavender, 90%);
@NavBarFontColor: @white;
@NavBarFontActiveColor: @melon;
@NavBarActiveLine: @melon;

@FooterBg: @old-lavender;
@FooterFontColor: @white;
@FooterFontActiveColor: @melon;

