@egg_yellow: #20272f;
@egg_light: #f0e6d1;
@selected_yellow: #9aa0ad;
@dark_default: fade(#fff, 60%); //rgba(255,255,255,0.6);
//@dark_light: #fff;
@pure_black: #000;
@pure_white: #fff;
@pure_pink:#fe4f86;
@footer_block:rgba(255,255,255,0.1);
