<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="tnnevol,newblue" />
  <meta name="keywords" content="tnnevol,newblue,mongo小说,express小说,小说阅读器,免费小说阅读器,tnnevol小说,newblue小说,神游阅读器" />
  <meta name="description" content="简洁的免费小说阅读器" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1772342_b1ts0oocedd.css"/>
  <title>
    <?= title ?>
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
</html>
